.about-divider{
	border-bottom: 1px solid black;
	width: 195px;
}
.wipgd{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
.about-content{
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
}
.policy-divider1{
	text-align: center;
	margin-left: 70px;
	border-bottom: 1px solid black;
	width: 82px;
}
.policy-divider2{
	text-align: center;
	margin-left: 75px;
	border-bottom: 1px solid black;
	width: 77px;
}
.policy-headbod{
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.policy-body{
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
}

.style18 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.head-contactus{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
.labels-contact{
	margin-top: 8px;
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
.conform-divide{
	margin-bottom: 20px;
}
.contact-uswrapper{
	padding: 8px 0 8px 0;
}
.cont-submit{
	padding: 5px 15px 5px 15px;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	color: white;
	border-style: none;
	background-color: #f44336;
}
.byclick{
	font-size: 15px;
	color:black;
	font-family: 'Work Sans', sans-serif;
}