div#carousel-example-generic
{
    margin-left: 300px;
    width: 768px;
    height: 510px;

}
@font-face{
    font-family: LemonMilk;            
    src: url(LemonMilk.tff);
}
#logo_text
{
	font-family: LemonMilk;
}